footer {
    position: fixed;
    bottom: 0;
    background-color: #f58f66;
    width:100%;
    padding:.5em;
}

.icon {
    margin-right: 1em;
}

.copyright p {
    text-align: center;
    color: #fff;
    margin-bottom: .5em;
    font-family: 'Poppins', sans-serif;
   
}

